*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.3rem;
}

button{
    width: 8vw;
    margin: 5px;
}

span{
	opacity: 0;
	transition: all 0.3s;
}

section{
	margin-top: 1rem;
}