
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0px;
    padding: 0px;    
}

html {
    font-size: 62.5%;    
}

body{    
    background-color: rgb(23, 78, 160);
    font-family: "Montserrat";
    font-size: clamp(1.5rem, 2vw, 1.8rem); 
    color: #fff;
    margin: auto;
}

#main{
	display: flex;
	justify-content: center;
	width: 95vw;	
}

#container{
	display: flex;	
	justify-content: space-between;
	width: 90vw;
	padding: 0.8rem;
	margin: auto;
  	
}

#title-cadastrados{
	float: right;
	width: 40vw;
	justify-content: flex-end;
	margin-top: 0.8rem;
}

form, input, textarea, #btn-enviar{
  border: none;
  font-family: "Montserrat";
}

form {
  	display: flex;
  	float: left;
  	flex-direction: column;
	justify-content: flex-start;  	
	width: 40vw;		
  	gap: 0.8rem;  
}

input {
  padding: 0.8rem;
  font-size: 1.8rem;
  border-radius: 0.8rem;
}

textarea {
  padding: 0.8rem;  
  font-size: 1.8rem;
  border-radius: 0.8rem;
}

#btn-enviar{
  background-color: darkblue;
  color: #fff;    
  font-size: 2rem;  
  border-radius: 0.8rem;
}

#btn-enviar:hover {
  background-color: rgba(44, 120, 235);  
  color: #000;
  font-weight: bolder;
}

h2{
  text-align: center;
  margin-top: 1.3rem;
}

h2, h4, form{
  margin-left: 0.8rem;
}

h2, h4, label{
  font-weight: bolder;
}

.cadastrados{
  background-color: rgba(44, 120, 235, 0.534);
  border-radius: 0.8rem;  
  margin: 0.8rem 1.3rem;
  padding: 1.3rem;
}

/* media-query */
@media only screen and (max-width: 600px) {  			
	#container{
		flex-direction: column;
		width: 90vw;
	}
	
	form{		
	  margin: auto;
  }

	.cadastrados{		
    margin-top: 0.8rem;
  }
}